body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #10265e;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    background: #02060e;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
  }
  
  #display {
    width: 100%;
    height: 60px;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: right;
    padding-right: 10px;
    border-radius: 8px;
    border: none;
    color: aliceblue;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .number {
    background: #38bdf8;
  }
  
  .operator {
    background: #fbbf24;
  }
  
  .equal {
    background: #22c55e;
    grid-row: span 2;
  }
  
  .clear {
    background: #ef4444;
  }
  
  .zero {
    grid-column: span 2;
  }
  
  button:hover {
    opacity: 0.8;
  }
  